{% extends 'core/base.html' %} {% block content %}
<div class="container mt-4">
  <h1>Explore Cultures</h1>
  {% for culture in cultures %}
  <div class="card mb-3">
    <img
      src="{{ culture.image.url }}"
      class="card-img-top"
      alt="{{ culture.name }}" />
    <div class="card-body">
      <h5 class="card-title">{{ culture.name }}</h5>
      <p class="card-text">{{ culture.description }}</p>
    </div>
  </div>
  {% empty %}
  <p>Belum ada budaya yang ditambahkan.</p>
  {% endfor %}
</div>
{% endblock %}
